body {
	font: 100%/1.5 Cambria, Garamond, Georgia, Times, serif;
	color: #333;
	background:#fff;
}
a { 
	text-decoration:none; 
	color:#4e7c92;
	-webkit-tap-highlight-color: #4e7c92;
}
a:hover {
	color: #4e7c92;
}

img, iframe {
	width: 100%;
}

::selection { background:#4e7c92; color:#fff; }