header {
	max-width: 940px;

	h1 {
		font-size: 3rem;
	}

	p {
		display: none;

		@media (min-width: $break-sm){
			display: block;
			font-size: 1.5rem;
			text-transform: uppercase;
			line-height: 1.1;
			margin-bottom: 1rem;
		}
	}

	h1 + p {
		padding-top: 1rem;
		border-top: 3px double $dk-yellow;
	}

	p + p {
		font-size: 1rem;
		color: $med-gray;
	}
}








