nav {
	a {
		@media (min-width: $break-sm){
			color: #fff;
		}
	}
	ul {
		display: none;
		@media (min-width: $break-sm){
			display: flex;
			justify-content: space-around;
			background: $link;
			text-align: center;
		}
	}
	#pull {
		display: block;
		background-color: $link;
		height: 32px;
		padding-top: 12px;
		padding-left: 12px;
		@media (min-width: $break-sm){
			display: none;
		}
	}
	#pull::after {
		content: "";
		background: url(../img/nav-icon.png) no-repeat;
		width: 22px;
		height: 22px;
		display: inline-block;
		background-size: cover;
	}
} 
